body
{
    padding-left:10px;
    font-size:13px;
}

fieldset
{
    border:1px solid #d9d9d9;
}

fieldset table tr{ line-height: 28px;}

fieldset table tr td input{ text-indent: 5px;}

fieldset table tr td span span input{text-indent: 5px;}
.mini-button{ margin-right: 15px;}
.mini-button span{ padding: 4px 13px;}

h1
{
    font-size:20px;
    font-family:Verdana;
}
h4
{
    font-size:16px;
    margin-top:25px;
    margin-bottom:10px;
}

.description
{
    padding-bottom:30px;
    font-family:Verdana;
}
.description h3
{
    color:#CC0000;
    font-size:16px;
    margin:0 30px 10px 0px;
    padding:45px 0 8px;
    /*background:url(titleback.png) no-repeat scroll left bottom transparent*/
    border-bottom:solid 1px #888;
}
